/* SELECTEURS DE BASE : BALISE */
h1 {
    color: brown;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Donner une couleur différente à h2 et h3 */
h2 {
    color: blue;
}

h3 {
    color: blueviolet;
}

img {
    /* width: 20rem; */
    height: 10rem;
    border: black solid .1rem;
    margin: .5rem;
    box-shadow: .25rem .25rem 0 gray;
}

/* Ombre portée sur h1 à h4 en gris tout autour du texte */
h1,h2,h3,h4 {
    text-shadow: 0 0 .25rem white, 0 0 1rem black;
}

/* SELECTEURS DE BASE : CLASS */
.redText {
    color: red;
}

.italicText {
    font-style: italic;
}

.codeStyle {
    font-family: 'Courier New', Courier, monospace;
}

/* SELECTEURS DE BASE : ID */
/* #id (100) > .class (10) > tag (1) */
#htop {
    color: green;
}

h1 {
    color: yellow !important;
}

/* SELECTEURS HIERARCHIQUES : PARENT > ENFANT */
ol > li {
    list-style: upper-roman;
    font-style: italic;
}

/* SELECTEURS HIERARCHIQUES : ASCENDANT DESCENDANT */

/* dl {
    margin: 1rem;
    margin: 1rem 2rem;
    margin: 1rem 2rem 3rem;
    margin: 1rem 2rem 3rem 4rem;
} */

dl dt {
    /* margin-top: .5rem;
    margin-bottom: .5rem; */
    margin: .5rem 0;
}

/* SELECTEURS HIERARCHIQUES : FRERE + SOEUR */
h2 + p , dt + dd {
    font-family: 'Times New Roman', Times, serif;
}

/* PSEUDO-CLASSES*/
/* Pour la balise a : link, visited, hover, active */
#navBar {
    background: black;
    text-align: center;
    padding: 1rem;
    color: white;
    margin-top: 3rem;
}

#navBar a:link, #navBar a:visited {
    color: inherit;
}

#navBar a:hover {
    font-weight: bold;
}

#navBar a {
    text-decoration: none;
}

/* Tableau ayant 50% de largeur du doc et affichage bordure */
table {
    /* width: 50%; */
    width: 50vw;
    border-spacing: 0;
    border-collapse: collapse;
}

table, td, th {
    border: black solid .1rem;
}

tbody tr:first-child {
    background: yellow;
}

tbody tr:last-child {
    background: lightgreen;
}

tbody tr:nth-child(2) {
    background: lightskyblue;
}

/* 2n ou even = pair */
tbody tr:nth-of-type(2n) {
    background: pink;
}

/* 2n+1 ou odd = impair */
tbody tr:nth-of-type(2n+1) {
    background: salmon;
}

tbody tr:hover {
    background: goldenrod;
    cursor: pointer;
}




